@model MyMarket.ViewsModels.CarrinhoComprasViewModel
<!DOCTYPE html>
<html lang="en">
@{
    ViewBag.Title = "Carrinho de Compras";
}
@{
    Layout = "_Layout";
}
<h3>
    <em>Review</em> your cart:
 </h3>
<p class="button">
    @Html.ActionLink("Checkout>>", 
    "AdressAndPayment", "Checkout")
</p>
<div id="update-message">
</div>
   
      <table class="table table-striped table-dark">
   
        <tr>
            <th>
                Nome do produto
            </th>
            <th>
                quantidade 
            </th>
            <th>
                Valor de venda
            </th>
            <th></th>
        </tr>
@foreach (var item in Model.CartItems)
{
        <tr id="row-@item.recordId">
            <td>
                @Html.ActionLink(item.produto.nomeProduto,
                "Index","Home", new {id = item.produtoId},null)
            </td>
            <td>
               @item.produto.valorVenda
            </td>
            <td id="item-count-@item.recordId">
                @item.count
            </td>
             <td>
               <a href="#" class ="RemoveLink" 
               data-id="@item.recordId">Remove o Carrinho</a>
            </td>
        </tr>
}   
  <tr>
        <td>
            Total
        </td>
        <td>
        </td>
        <td>
        </td>
        <td id="cart-total">
            @Model.CarinhoTotal
        </td>
    </tr>
</table>
    </Html>
    @section scripts{
    <script>
      $(function () {
        $(".RemoveLink").click(function (){
            var recordToDelete = $(this).attr("data-id");
            if ( recordToDelete != ''){
                $.post("/CarrinhoCompras/RemoveCarrinho",{"id": recordToDelete},
                function (data) {
                    if (data.ItemCount == 0){
                        $'#row-' + data.DeleteId).text.(data.ItemCount);
                    } else {
                        $('#item-count-' + data.DeleteId).text(data.ItemCount);
                    }
                    $('#cart-total').text(data.CarrinhoTotal);
                    $('#update-message').text(data.Message);
                    $('#cart-status').text('Cart (' + data.CarrinhoCount + ')');
                });
        }
            });
        });
    </script>
}




