@model IEnumerable<MyMarket.Models.DtoProduto>
@{
    ViewData["Title"] = "Home Page";
}
 
    <tbody>
       
            <div class= "row">          
            <div class="col-3">
                 @foreach (var item in Model)
                {
                <div class="card"> 
                     <a href="@Url.Action("Privacy")">
                     <svg> class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns= @Html.DisplayFor(modelItem => item.imagem)
                         <rect width=260px height="100%" fill="#55595c"></rect></svg>

                         </a>

                        <div class="card-body">
                            <div class="col">
                                <div class="card-body">
                                       <div>
                                        @Html.DisplayFor(modelItem => item.nomeProduto)</div>                                      
                                              <div>
                                             @Html.DisplayFor(modelItem => item.valorVenda)</div>
                                       </div>   

                                </div>
                                <div>
               
                                  <a asp-action="ProdutoExpandido" asp-route-id="@item.id" class="btn btn-danger">Ver mais</a>
                                  <p class="button"> @Html.ActionLink("Add tocart", "AddCarrinho", "CarrinhoCompras", new { id = item.id }, "")
                                </p>
                                </div>
                            </div>
                        </div>                
            }
            </div> 
                </div>
    </tbody>
</table>
</div>
</div> 

 

