@model MyMarket.Models.Produto

@{
    ViewData["Title"] = "Produto expandido";
}

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estoqueAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estoqueAtual)
        </dd>

    </dl>
    
   
</div>
