@model MyMarket.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorVenda)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoriaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoriaid)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataAlteracao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
